<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="../../static/favicon.ico">
    <link rel="stylesheet" href="../../static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/wangEditor.min.js"></script>
    <script type="text/javascript" src="../../static/assets/plugins/jquery-3.3.1.min.js"></script>
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="../../static/assets/css/theme-1.css">
    

</head> 

<body>

<div th:replace="~{blog-side::side(activeUri='blogeditor')}"></div>


<div class="main-wrapper">
    <h3>标题</h3>
    <div class="input-group">
        <input type="text" name="Title" id="Title" placeholder="文章标题...">
    </div>
    <h3>内容</h3>
    <div  id="article-editor"><p> 输入文章内容...</p></div>
    <div style="text-align: right">
        <button id="article-submit" class="btn btn-primary " >发布文章</button>
    </div>
</div>
    
       
    <!-- Javascript -->          
    <script src="../../static/assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="../../static/assets/plugins/popper.min.js"></script>
    <script src="../../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="../../static/assets/js/demo/style-switcher.js"></script>
    

</body>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#article-editor')
    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create()
    let eds = document.getElementsByClassName('w-e-text-container')
    eds[0].style = eds[0].style.cssText + 'height: 500px'
    $("#article-submit").click(function () {
        $.ajax({
            type:"PUT",
            url:"/article/create",
            data: {
                "Content":editor.txt.html(),
                "Title":$("#Title").val(),

            },
            success:function (result) {
                console.log(result)
                if (result.code){
                    alert(result.msg)
                    location.href="/"
                }else{
                    alert(result.msg)
                }
            }
        })
    })

</script>
</html> 

