<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="../../static/favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="../../static/assets/js/all.js"></script>
    <script type="text/javascript" src="../../static/assets/plugins/jquery-3.3.1.min.js"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="../../static/assets/css/theme-1.css">
    <link rel="stylesheet" href="../../static/assets/plugins/bootstrap/css/bootstrap.min.css">

</head>
<link rel="stylesheet" href="../../static/assets/plugins/bootstrap/css/bootstrap.min.css">

<body style="background-color: rgb(229, 229, 229);">
<div id="regPanel" style="width: 50%;margin: 100px auto;" >
    <h1 class="col-sm-6 col-sm-offset-4">REGISTER</h1>
    <form id="regForm" class="form-horizontal" method="post">
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUsername" name="Name" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="Pass" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail" name="Email" placeholder="Email">
            </div>
        </div>

        <span id="prompt" class="text-danger"></span>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10"  style="text-align: center;">
                <p id="regSubmit" class="btn btn-primary">Sign up</p>
            </div>
        </div>
    </form>
</div>
<script>

    $("#regSubmit").click(function () {
        $.ajax({
            type:"PUT",
            url:"/user",
            data: $("#regForm").serialize(),
            success:function (result) {
                console.log(result)
                if (result.code){
                    alert("注册成功!!")
                    location.href="/"
                }else{
                    $("#prompt").html(result.msg)
                }
            }
        })
    })
</script>
</body>
</html>

